*{
    margin: 1px;
    border: 0;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 98vh 2vh;
}

.right{
    display: grid;
    grid-template-rows: 25% 75%;
}



.bottom{
    border: 2px solid aliceblue;
    padding-left: 5px;
}




body{
    background-color: #969696;
    background-image: url('./images/diagmonds.png');
    color: aliceblue;
}

#menu{
    width: 25px;
    height: 20px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar{
    height: 5px;
    width: 100%;
    display: block;
    border-radius: 5px;
    background-color: aliceblue;
    transition: 0.3s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

#menu-bar{
    float: left;
}

#feed-title{
    color: chocolate;
    font-weight: bold;
}

#site-name{
    line-height: 45px;
    font-weight: bolder;
    font-size: 30px;
}

#menu-text{
    float: left;
    padding-left: 12px;
    color: aliceblue;
    font-weight: bolder;
    font-size: 15px;
}

.nav li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
}

.nav li a:hover{
    font-weight: bold;
    color: dodgerblue;
}

.nav li{
    list-style: none;
    padding: 16px 0;
}

.nav{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;

}

.change-bg{
    width: 550px;
    height: 540px;
}

.change .bar{
    background-color: aliceblue;
}

.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3{
    transform: translateY(-4px) rotate(45deg);
}

.change #bar2{
    opacity: 0;
}

.change #menu-text{
    opacity: 0;
}

.change{
    display: block;
}